# vercel postgres
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# UploadThing API
UPLOADTHING_SECRET=
NEXT_PUBLIC_UPLOADTHING_APP_ID=

#cron to delete unused images (user uploads an image but deletes it before posting)
CRON_SECRET=

# stream - chat feature
NEXT_PUBLIC_STREAM_KEY=
STREAM_SECRET=

# google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#next public base url
NEXT_PUBLIC_BASE_URL=

# email credentials for sending email verification
EMAIL_USERNAME=
EMAIL_PASSWORD=