@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

@layer base {
  :root {
    --background: 224, 5%, 95%; /* Light grey */
    --foreground: 240 10% 3.9%; /* Very dark blue-grey */

    --card: 0 0% 100%; /* White */
    --card-foreground: 240 10% 3.9%; /* Very dark blue-grey */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 240 10% 3.9%; /* Very dark blue-grey */

    --primary: 190 80.6% 45.3%; /* Greyish blue */
    --primary-foreground: 355.7 100% 97.3%; /* Very light pink (almost white) */

    --secondary: 240 4.8% 95.9%; /* Very light blue-grey */
    --secondary-foreground: 240 5.9% 10%; /* Very dark blue-grey */

    --muted: 240 4.8% 95.9%; /* Very light blue-grey */
    --muted-foreground: 240 3.8% 46.1%; /* Dark blue-grey */

    --accent: 240 4.8% 95.9%; /* Very light blue-grey */
    --accent-foreground: 240 5.9% 10%; /* Very dark blue-grey */

    --destructive: 0 84.2% 60.2%; /* Bright red */
    --destructive-foreground: 0 0% 98%; /* Very light grey (almost white) */

    --border: 240 5.9% 90%; /* Light blue-grey */
    --input: 240 5.9% 90%; /* Light blue-grey */
    --ring: 190 76.2% 36.3%; /* Greyish blue */

    --radius: 1rem; /* Border radius */
  }

  .dark {
    --background: 20 14.3% 4.1%; /* Very dark brown */
    --foreground: 0 0% 95%; /* Very light grey (almost white) */

    --card: 24 9.8% 10%; /* Very dark grey-brown */
    --card-foreground: 0 0% 95%; /* Very light grey (almost white) */

    --popover: 0 0% 9%; /* Very dark grey */
    --popover-foreground: 0 0% 95%; /* Very light grey (almost white) */

    --primary: 190 80.6% 45.3%; /* Greyish blue */
    --primary-foreground: 144.9 80.4% 10%; /* Dark greenish blue */

    --secondary: 240 3.7% 15.9%; /* Very dark blue-grey */
    --secondary-foreground: 0 0% 98%; /* Very light grey (almost white) */

    --muted: 0 0% 15%; /* Very dark grey */
    --muted-foreground: 240 5% 64.9%; /* Dark blue-grey */

    --accent: 12 6.5% 15.1%; /* Very dark red-brown */
    --accent-foreground: 0 0% 98%; /* Very light grey (almost white) */

    --destructive: 0 62.8% 50%; /* Dark red */
    --destructive-foreground: 0 85.7% 97.3%; /* Very light pink (almost white) */

    --border: 240 3.7% 15.9%; /* Very dark blue-grey */
    --input: 240 3.7% 15.9%; /* Very dark blue-grey */
    --ring: 190 71.8% 29.2%; /* Greyish blue */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.str-chat {
  --str-chat__font-family: inherit;
  --str-chat__primary-color: theme(colors.primary.DEFAULT);
  --str-chat__on-primary-color: theme(colors.primary.foreground);
  --str-chat__active-primary-color: theme(colors.primary.foreground);
  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    hsl(var(--primary)) 10%,
    transparent
  );
  --str-chat__background-color: theme(colors.card.DEFAULT);
  --str-chat__secondary-background-color: theme(colors.card.DEFAULT);
  --str-chat__message-textarea-background-color: theme(colors.background);
  --str-chat__channel-preview-active-background-color: theme(
    colors.accent.DEFAULT
  );
  --str-chat__channel-preview-hover-background-color: var(
    --str-chat__channel-preview-active-background-color
  );
  --str-chat__secondary-surface-color: theme(colors.muted.DEFAULT);
  --str-chat__own-message-bubble-color: theme(colors.primary.foreground);
  --str-chat__primary-surface-color: theme(colors.primary.DEFAULT);
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  );
  --str-chat__disabled-color: theme(colors.muted.DEFAULT);
  --str-chat__cta-button-border-radius: var(--radius);
}

.str-chat-channel-list {
  border-right: none;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0;
}

.str-chat__channel-search-bar-button--exit-search {
  display: none;
}
